.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
	height:50px !important;
}

.dropdown-toggle {
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
}
.modal-wide .modal-dialog {
	width:80% !important;
}

.modal-content .box {
	border-left:1px solid #f4f4f4;
}

.select2-selection--multiple .select2-search--inline .select2-search__field {
	width:1px !important;
	border:none !important;
}
#map_canvas {
   height: 350px;
   width: 98%;
}
#map_canvasing {
   height: 350px;
   width: 98%;
}

.input_size{width: 322px !important;}





/* Profile Pic change */
.user-profile-pic {
	position:relative;
}
.profile-user-img {
	height:150px;
	width:150px;
}
.change-profile-pic {
	position:absolute;
	width:150px;
	background-color:rgba(0,0,0,0.5);
	height:150px;
	border-radius:200px;
	left:calc(50% - 75px);
	bottom:0;
	
	display:none;
}
.user-profile-pic:hover .change-profile-pic {
	display:block;
}
.uploadFile {
	background: url('../images/whitecam.png') no-repeat;
	height: 32px;
	width: 32px;
	position:absolute;
	left: -webkit-calc(50% - 16px);
	left: calc(50% - 16px);
	bottom:calc(50% - 16px);
	overflow: hidden;
	cursor: pointer;
}
.uploadFile input {
	filter: alpha(opacity=0);
	opacity: 0;
	margin-left: -110px;
}
.custom-file-input {
	height: 35px;
	cursor: pointer;
}
.left-sid{max-width: 52px !important;border-radius: 50%;}

.box_sizes{width: 100% !important;}


.sleeper{
	background-image: url(./images/1.png);background-repeat: no-repeat;height: 23px;
    width: 34px;
	margin-top:10px;
	  height: 41px;
}.seater{
	background-image: url(./images/4.png);background-repeat: no-repeat;height: 23px;
    width: 34px;
	margin-top:10px;
	  height: 41px;
}.sleeper1{
	background-image: url(../images/empty.png);background-repeat: no-repeat;height: 23px;
    width: 34px;
	margin-top:10px;
	  height: 41px;
}

.skin-blue .main-header .logo
{
	background-color:#ff5b5b;
}
.skin-blue .main-header .navbar
{
	background-color: #EE3F49 !important;
}
.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body
{
	background-color: #EE3F49 !important;
}
.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body
{
	background-color: #EE3F49 !important;
}
.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body
{
	background-color: #EE3F49 !important;
}
.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body
{
	background-color: #EE3F49 !important;
}
.skin-blue .main-header li.user-header
{
	background-color: #EE3F49 !important;
}
.logo img {
  height: 44px;
  width: 65px;
}
.btn-default
{
	background-color: #EE3F49 !important;
	color: #fff !important;
}
.extradrop
{
	border:1px solid #98999b !important;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover
{
	background-color: #CB363E !important;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side
{
	background-color: #272727 !important;
}
#mypbtn
{
	background-color: #EE3F49 !important;
	color: #fff !important;
	background-color:#EE3F49 !important;
    border-bottom-color: #EE3F49 !important;
    border-left-color: #EE3F49 !important;
    border-right-color: #EE3F49 !important;
    border-top-color: #EE3F49 !important;
}

.skin-blue .sidebar-menu > li.header{
	background-color: #ff5b5b;
	color: #fff;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
	background-color: #ff5b5b;
	border-color: #ee3f49;
}
.skin-blue .sidebar a{
	color: #ededed;
}
.fa-angle-left::before{
	color: #ff5b5b;
}
a {
    color: #ff5b5b;
}
.skin-blue .main-header .logo:hover{
	background-color: #fff;
}
.text-aqua{
	color: #ff5b5b;
}
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a{
	border-left-color: #ff5b5b;
}